@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
    --fuente: 'Cascadia Code', sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--fuente);
    text-align: center;
}

.text, p{
    text-align: justify;
    position: relative;
    width:600px;
    left: 340px;
}
